:root {
  --clr-background: #dcdcdc;
  --clr-background-darker: #bebebe;
  --clr-above-background: #f3f3f3;
  --clr-outline: #ababab;
  --clr-outline-emp: #232323;
}

html, body {
  height: 100%;
}

body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--clr-background);
}

.hidden {
  display: none !important;
}

.font-mat-icon {
  font-family: Material Icons, serif;
}
