#container {
  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-flow: nowrap;
}

.tag-card {
  height: 100px;
  width: 100px;
  border: 1px solid var(--clr-outline);
  border-radius: 7px;
  margin: 10px;
  cursor: pointer;
}

.tag-card.selected {
  border: 1px solid var(--clr-outline-emp);
}
